<html>
<%include ./partials/header%>
<h3>All the best</h3>
<form action="/datasent" method="post" >

    <input type="text" name ="data">
    <button type="submit">Send parameter</button>
</form>
</html>